Package: com.appaddy.marvis
Name: Marvis+
Depends: mobilesubstrate
Version: 1.0.1-1
Architecture: iphoneos-arm
Description: Added Features to Marvis Music Player
Maintainer: Addy
Author: Addy
Section: Tweaks
